main
	font-family: 'Roboto', sans-serif
	box-sizing: border-box
	.wrap-checked 
		height: 0px
		// overflow: hidden
		background: #161a1b
		position: absolute
		top: 0
		right: 0
	.navigation
		width: 100%
		position: relative
		z-index: 3
		#main-menu
			display: none
		.menu
			perspective: 1000px
			width: auto
			margin-right: 250px
			ul 
				list-style: none
				display: block
				text-align: right
				width: 100%
				box-sizing: border-box
				.inner-wrapper
					display: inline-block
					position: relative
				.inner-wrapper>li
					text-align: center
					text-transform: uppercase
				li
					display: inline-block
					padding: 0 14px
					height: 36px
					line-height: 36px
					transition: background .3s
					cursor: pointer
					font-weight: bold
					font-size: .88rem
					letter-spacing: 1px
					vertical-align: middle
					.menu__popup
						text-transform: none
						transform-origin: center top
						transform: rotateX(-87deg)
						overflow: hidden
						display: inline-block
						position: absolute
						left: 0
						top: 36px
						background: #dcdf3c
						visibility: hidden
						transition: visibility 0s linear 0.3s, transform 0.3s
						z-index: 4
						text-align: left
						padding-left: 0px
						width: 100%
						text-indent: 15px
						p
							margin-left: -15px
							color: #a4a629
							padding: 10px 0
						ul > li
								ul
									p
										font-size: 0.85rem
										color: #a8aa2a
										font-weight: 600
										padding-top: 10px

									li
										display: block
										font-size: 1rem
										width: 100%
										background-image: linear-gradient(to left, transparent, transparent 50%, #f4f750 50%, #f4f750)
										background-position: 100% 0
										background-size: 200% 100%
										transition: all .25s ease-in
										&:hover
											background-position: 0 0
										a
											font-weight: 600
									.last
										margin-bottom: 10px
					.menu__popup *
						padding: 0
						margin: 0
						max-width: 290px
						text-align: left
					.menu__popup.deposit
						width: 290px
						height: 295px
						ul
							li
								display: block
								margin-left: -15px
								width: 290px
								background-image: linear-gradient(to left, transparent, transparent 50%, #f4f750 50%, #f4f750)
								background-position: 100% 0
								background-size: 200% 100%
								transition: background .25s ease-in
								&:hover
									background-position: 0% 0
							.butt
								padding-top: 15px
								border-top: 1px solid #c2c52e
								background-image: none
								margin-left: 0px
								a
									display: block
									margin-bottom: 20px
									background: #c2c52e
									width: 260px
									height: 50px
									font-size: 1.1rem
									text-align: center
									line-height: 50px
									text-transform: none
							.last
								margin-bottom: 10px
					.menu__popup.cart
						width: 670px
						ul
							max-width: 100%
						.cart-first
							margin-left: -15px
						li
							max-width: 100%
							width: 100%
							height: auto
							p
								margin-left: 0
							li
								max-width: 100%
								width: 49%
								vertical-align: top
								width: 290px
								background-image: linear-gradient(to left, transparent, transparent 50%, #f4f750 50%, #f4f750)
								background-position: 100% 0
								background-size: 200% 100%
								transition: background .25s ease-in
								&:hover
									background-position: 0% 0

					.menu__popup.search
						input
							display: block !important
							padding: 5px 40px
							background: #dcdf3c;
							outline: none
							border: none
							border-bottom: 1px solid #a4a629
						.grid
							min-height: 320px
							max-width: 101%
							.grid-item
								display: block
								height: auto
								float: left
								max-width: 33%
								p
									margin-left: 0
								ul
									li
										height: auto !important
										width: 100%
										background-image: linear-gradient(to left, transparent, transparent 50%, #f4f750 50%, #f4f750)
										background-position: 100% 0
										background-size: 201% 100%
										transition: background .25s ease-in
										&:hover
											background-position: 0% 0
						.search-img-two
							width: 30px
							position: absolute
							position: absolute
							right: 10px
							top: 5px
							background: #c2c52e
							border-radius: 50%
							transition: background .2s
							&:hover
								background: #f4f750
						.search-img-one
							width: 18px
							position: absolute
							left: 10px
							top: 15px
						#search
							width: 100%
							min-width: 100%
							box-sizing: border-box
					&:hover
						background: #dcdf3c
						.menu__popup
							visibility: visible;
							transform: rotateX(0)
							transition: visibility 0s linear 0s,  transform 0.3s
							z-index: 3
					a
						text-decoration: none
						color: #000
						width: 100px

	.slider
		position: relative
		width: calc(100% - 260px)
		margin-top: 26px
		.site-logo
			position: absolute
			top: -52px
			left: 40px
			width: 209px
			height: 104px
			z-index: 2
		.additional-info
			width: 354px
			height: 112px
			position: absolute
			bottom: -20px
			right: 20px
			background: #dcdf3c
			font-size: 1.142rem
			font-weight: 500
			z-index: 2
			p 
				margin: 0
				padding-left: 25px
				padding-top: 20px
				line-height: 25px
		.main-slider
			.proposal-1
				background: #7196da
				width: calc(100% - 260px)
				position: relative
				box-sizing: border-box
				height: 550px
				h2
					font-size: 5.285rem
					color:#fff
					padding-top: 80px
					font-weight: 600
					margin: 0
					padding-left: 60px
				p
					font-size: 1rem
					color:#fff
					padding-top: 40px
					font-weight: 600
					padding-bottom: 100px
					padding-left: 60px
					margin: 0
					line-height: 26px
					span
						&:first-child
							font-size: 1.571rem
							i 
								padding-left: 30px
						&:last-child
							font-size: 1.571rem
					.other-color
						color:#465f8c
					.other-size
						color: #b8c8eb
						font-size: 0.785rem
			.proposal-2
				background: #fa323c
				width: calc(100% - 260px)
				position: relative
				box-sizing: border-box
				height: 550px
				h2
					font-size: 5.285rem
					color:#fff
					padding-top: 80px
					font-weight: 600
					margin: 0
					padding-left: 60px
				.kartka
					width: 500px
					position: absolute
					right: 60px
					bottom: 0
			.proposal-3
				background: #00a27d
				width: calc(100% - 260px)
				position: relative
				box-sizing: border-box
				height: 550px
				h2
					font-size: 5.285rem
					color:#fff
					padding-top: 80px
					font-weight: 600
					margin: 0
					padding-left: 60px
	.table 
		height: 450px
		width: calc(100% - 300px)
		.wrap-caption
			text-align: left
			padding-left: 60px
			padding-top: 50px
			h2
				margin: 0
				font-weight: 600
				font-size: 2rem
				display: inline-block
				padding-right: 22px
			select
				display: inline-block
				width: 136px
				height: 36px
				border: 2px solid #7196da
				background: transparent
				option 
					i 
						color: black
			span
				display: block
				font-size: 0.714rem
		table 
			padding-left: 60px
			width: 90%
			tr
				padding-bottom: 20px
				height: 40px
				th 
					color: #bdbdbd
					font-size: 0.714rem
					padding-bottom: 20px
				td 
					font-size: 1rem
					text-align: center
					&:first-child
						text-align: left
	.loyalty-program
		padding-left: 60px
		padding-top: 88px
		padding-bottom: 100px
		width: calc(100% - 260px)
		box-sizing: border-box
		h2
			margin: 0
			font-weight: 600
			font-size: 2rem
		p 
			padding-top: 33px
			font-size: 1rem
			max-width: 434px
			margin: 0
			line-height: 23px
			span
				text-transform: uppercase
		ul
			list-style: none
			font-size: 1rem
			margin: 0
			padding-left: 0px
			padding-top: 25px
			line-height: 23px
			i 
				padding-right: 10px
	.info
		width: calc(100% - 260px)
		height: 489px
		overflow: hidden
		position: relative
		.info-deposit
			width: 68%
			padding-left: 60px
			background: #7196da
			float: left
			display: inline-block
			height: 100%
			box-sizing: border-box
			h2
				font-weight: 600
				font-size: 2rem
				color: white
				margin: 0
				padding-top: 60px
				padding-bottom: 50px
			p 
				font-size: 1rem
				max-width: 510px
				margin: 0
				line-height: 23px
				color: white
				padding-bottom: 114px
				i 
					padding-right: 10px
				span 
					font-size: 1.5rem
					font-weight: 600
		.map 
			width: 32%
			background: #eee
			float: left
			display: inline-block
			height: 100%
			position: relative
			clear:right
		.map-button
			position: absolute
			bottom: 18px
			right: 15px
			width: 300px
			a
				text-decoration: none
				color: #000
	.useful-info
		padding-left: 60px
		padding-top: 88px
		width: calc(100% - 260px)
		height: 600px
		box-sizing: border-box
		h2
			padding-left: 0
			margin: 0
			font-weight: 600
			font-size: 2rem
			padding-bottom: 30px
		h3
			margin: 0
			font-weight: 600
			font-size: 1.2rem
			padding-bottom: 15px
		p
			font-size: 1rem
			max-width: 434px
			margin: 0
			line-height: 23px
			padding-bottom: 30px
			span
				text-transform: uppercase
		ul
			list-style: none
			font-size: 1rem
			margin: 0
			padding-left: 0px
			line-height: 23px
			padding-bottom: 30px
			i 
				padding-right: 10px
	.application
		width: calc(100% - 260px)
		height: 680px
		background: #f8f8e7
		border: 1px solid #ebeb88
		box-sizing: border-box
		div
			width: 550px 
			margin: auto
			margin-top: 60px
			font-size: 0
			h2
				padding-left: 0
				margin: 0
				font-weight: 600
				font-size: 2rem
				padding-bottom: 30px
			button
				height: 44px 
				font-size: 1rem
				margin: 0
				text-align: center
				border: 2px solid #dcdf3c
				background: white
				margin-bottom: 43px
				font-weight: 500
				outline: none
			.pre-registration
				width: 200px
			.checked
				background: #dcdf3c
				width: 122px
			p 
				padding-bottom: 40px
				font-size: 1rem
				max-width: 540px
				margin: 0
				line-height: 23px
			select, input
				width: 540px
				height: 48px
				text-indent: 10px
				display: block
				padding: 0
				margin-bottom: 20px
				background: transparent
				border: 2px solid #c6c6b9
				font-size: 1rem
				font-weight: 600
				outline: none
			select
				width: 544px
			input::-webkit-input-placeholder
				color: black
				opacity: 1
				transition: opacity 0.3s ease
			input[type="submit"]
				border: 2px solid #dcdf3c
				box-sizing: border-box
				width: 544px
				outline: none
				background-image: linear-gradient(to bottom, transparent, transparent 50%, #dcdf3c  50%, #dcdf3c )
				background-position-y: 0
				background-size: 200%
				transition: all .25s ease-in
				&:hover
					background-position-y: 100%
	.addition
		display: none
		padding-left: 20px
		margin: 0
		font-weight: 600
		font-size: 2rem
		padding-top: 20px
		color: #4b5153
	.master-card
		width: calc(100% - 260px)
		height: 300px
		background: #5bdcaa
		padding-left: 60px
		padding-top: 50px
		margin-top: 20px
		box-sizing: border-box
		color: white
		position: relative
		overflow: hidden
		h2
			padding-left: 0
			margin: 0
			font-weight: 600
			font-size: 2.7rem
			padding-bottom: 30px
		p 
			padding-bottom: 70px
			margin: 0
			line-height: 23px
		.logo-master-card
			width: 153px
			position: absolute
			bottom: 15px
		.picture-1
			width: 250px
			right: 90px
			position: absolute
			bottom: 0px
	.credit-program
		width: calc(100% - 260px)
		height: 300px
		background: #ebb641
		padding-left: 60px
		padding-top: 40px
		margin-top: 20px
		box-sizing: border-box
		color: white
		margin-bottom: 20px
		position: relative
		overflow: hidden
		h2
			padding-left: 0
			margin: 0
			font-weight: 600
			font-size: 2.7em
			padding-bottom: 30px
		p 
			padding-bottom: 70px
			margin: 0
			line-height: 23px
		img
			width: 250px
			right: 75px
			position: absolute
			bottom: 0px
.success 
	border: 1px solid #7CFC00!important

.error 
	border: 1px solid red!important

em.error 
	color: #f45336
	border: none!important
	float: right
	font-size: 1rem
	display: inline-block
	top: -20px
	right: 10px
	position: relative
.table-button
	width: 320px
	height: 48px
	display: inline-block
	line-height: 48px
	text-align: center
	margin-top: 40px
	margin-left: 60px
	border: 2px solid #7196da
	background: none
	outline: none
	background-image: linear-gradient(to bottom, #fff, #fff 50%, #7196da  50%, #7196da )
	background-position-y: 0
	background-size: 200%
	transition: all .25s ease-in
	font-weight: bold
	&:hover
		background-position-y: 100%
.select#selectedCurrency
	display: inline-block
	position: absolute
	height: 40px
	outline: 2px solid #7196da
	&:hover
		height: auto
		outline: 0px solid #dddf3c
	ul
		margin-top: -4px;
		&:first-child
			&:hover
				height: auto
		li
			&:first-child
				&:after
					position: absolute
					content: ""
					top: 16px
	a
		color: #000
		display: block
		height: 100%
		width: 100%
.select
	overflow: hidden
	height: 48px
	width: 110px
	line-height: 43px
	background: transparent
	color: #929c9f
	font-weight: 600
	font-size: 1.2rem
	text-indent: 10px
	&:hover
		background: #dddf3c
		color: black
		height: auto
		a
			color: #000
		li:first-child:after
			border-top: 6px solid #000
	ul
		list-style: none
		padding: 0
		margin: 0
		li
			height: 48px
			background-image: linear-gradient(to left, transparent, transparent 50%, #f4f750 50%, #f4f750)
			background-position: 100% 0
			background-size: 200% 100%
			transition: all .25s ease-in
			display: block
			a
				text-decoration: none
				color: #929c9f
			&:hover
				background-position: 0 0
			&:first-child
				&:after
					position: absolute
					content: ""
					top: 20px
					right: 4px
					width: 0
					height: 0
					border-left: 4px solid transparent
					border-right: 4px solid transparent
					border-top: 6px solid #929c9f
			&:first-child
				&:hover
				background-image: linear-gradient(to left, transparent, transparent 50%, #f4f750 50%, #f4f750)
				background-position: 100% 0
				background-size: 200% 100%
.hidden
	display: none
.main-menu-btn 
	position: relative
	display: inline-block
	width: 28px
	height: 28px
	left: 10px
	text-indent: 28px
	white-space: nowrap
	overflow: hidden
	cursor: pointer
	-webkit-tap-highlight-color: rgba(0,0,0,0)
/* hamburger icon */
.main-menu-btn-icon, .main-menu-btn-icon:before, .main-menu-btn-icon:after 
	position: absolute
	top: 50%
	left: 2px
	height: 2px
	width: 24px
	background: #bbb
	-webkit-transition: all 0.25s
	transition: all 0.25s

.main-menu-btn-icon:before 
	content: ''
	top: -7px
	left: 0

.main-menu-btn-icon:after 
	content: ''
	top: 7px
	left: 0

/* x icon */
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon 
	height: 0
	background: transparent

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before 
	top: 0
	-webkit-transform: rotate(-45deg)
	transform: rotate(-45deg)

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after 
	top: 0
	-webkit-transform: rotate(45deg)
	transform: rotate(45deg)

/* hide menu state checkbox (keep it visible to screen readers) */
#main-menu-state 
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0
	overflow: hidden
	clip: rect(1px,1px,1px,1px)

/* hide the menu in mobile view */
#main-menu-state:not(:checked) ~ #main-menu 
	display: none

#main-menu-state:checked ~ #main-menu 
	display: block

@media (min-width: 768px)
	.main-menu-btn 
		position: absolute
		top: -99999px
	// #main-menu-state:not(:checked) ~ #main-menu 
	// 	display: block
