footer
	width: 100%
	background: #212628
	clear: both
	overflow: hidden
	font-family: 'Roboto', sans-serif
	.wrapper-footer
		min-width: 830px
		margin: 0 auto
		padding-top: 55px
		height: 252px
		margin-left: 60px
		.helpful-link
			width: 350px
			float: left
			.title-helpful-link
				font-size: 0.857rem
				font-weight: 600
				color: #4b5153
				padding-bottom: 20px
			.different-services
				span
					display: block
					color: #fff
					line-height: 28px
					font-size: 1rem
					cursor: pointer
					transition: color, 1s, easy-in-out
					&:hover
						color: #dcdf3c
			.mark
				font-size: 0.714rem
				font-weight: 600
				color: #4b5153
				display: block
				padding-top: 50px
			.license
				font-size: 0.785rem
				font-weight: 400
				color: #4b5153
				display: block
				padding-top: 5px
		.info-contact 
			width: 240px
			float: left
			span
				display: block
				&:first-child
					font-size: 0.857rem
					font-weight: 600
					color: #4b5153
				&:nth-child(2n)
					color: white
					font-size: 1.285rem
					font-weight: 600
					margin-top: 20px
				&:nth-child(3)
					font-size: 0.928rem
					font-weight: 400
					color: #4b5153
		.footer-link
			width: 220px
			float: left
			span
				font-size: 0.857rem
				font-weight: 600
				color: #4b5153
				display: block
			i
				display: inline-block
				font-size: 1.5rem
				color: #ebebeb
				padding-right: 10px
				padding-top: 15px
				cursor: pointer
				transition: color, 1s, easy-in-out
				&:hover
					color: #dcdf3c



