html
	font-size: 14px
body
	box-sizing: border-box
header
	width: 100%
	height: 48px
	background: #161a1b
	font-family: 'Roboto', sans-serif
	.other-type
		width: 480px
		height: 48px 
		margin-left: 30px
		float: left
		line-height: 48px
		font-weight: 500
		// text-align: center
		span 
			color: #71797c
			text-transform: uppercase
			margin-left: 30px
			font-size: 0.929rem
			cursor: pointer
			transition: color,1s, easy-in-out
			&:hover, &:active
				color: #f4f750
	.setting
		font-family: 'PT Sans', sans-serif
		.search-service
			width: 240px
			height: 100% 
			padding-left: 10px
			float: right
			box-sizing: border-box
			position: fixed
			top: 0
			right: 0
			background: #161a1b
			line-height: 48px
			i 
				color: #dcdf3c
				margin-right: 13px
			input
				background: transparent
				color: #717779
				border: none
				font-size: 0.929rem
				&:focus
					outline: none
			input::-webkit-input-placeholder
				opacity: 1
				transition: opacity 0.3s ease
		.change-lang
			right: 240px
			position: absolute
			.en, .ru
				display: none
			span
				display: block
				width: 110px 
				height: 48px
				line-height: 43px
				background: transparent
				color: #71797c
				font-weight: 600
				font-size: 1.2rem
				height: 48px
				text-indent: 14px
				&:hover
					background: #dddf3c
					color: black
					.en, .ru
						display: block
						z-index: 2
				// &:focus
				// 	background: #f4f750
				// 	color: black
		.size-allfont
			color: #929c9f
			cursor: pointer
			right: 360px
			height: 48px
			position: absolute
			top: 9px
			height: 30px
			line-height: 30px
			.font-minus
				display: inline-block
				transition: color, 0.5s, easy-in-out
				&:hover
					color: #f4f750
				i 
					font-size: 0.8rem
				.fa-minus
					display: none
					font-size: 0.41rem
					position: relative
					top: -7px
			.font-plus
				&:hover
					color: #f4f750
				display: inline-block
				transition: color, 1s, easy
				.fa-font 
					font-size: 1.4rem 
				.fa-plus
					font-size: 0.714rem
					position: relative
					top: -7px
			&:hover
				.font-minus
					padding-right: 10px
					.fa-minus
						display: inline-block
				.font-plus
					padding-left: 10px
					border-left: #929c9f solid 1px
			