html
	font-size: 14px
body
	box-sizing: border-box
header
	width: 100%
	height: 48px
	background: #161a1b
	font-family: 'Roboto', sans-serif
	.wrap-access-type
		font-family: 'PT Sans', sans-serif
		width: 180px
		height: 48px
		input
			width: 150px
			height: 48px
			display: none
			background: transparent
			border: none
			margin-left: 20px
			color: #71797c
		.access-type
			width: 480px
			height: 48px 
			margin-left: 30px
			float: left
			line-height: 48px
			font-weight: 500
			// text-align: center
			span 
				a
					color: #71797c
					text-decoration: none
					text-transform: uppercase
					margin-left: 30px
					font-size: 0.75rem
					font-weight: 600
					cursor: pointer
					transition: color,1s, easy-in-out
					&:hover, &:active
						color: #f4f750
	.setting
		.change-lang
			position: absolute
			top: 0
			right: 240px
			z-index: 10
		font-family: 'PT Sans', sans-serif
		.size-allfont
			color: #929c9f
			cursor: pointer
			right: 360px
			height: 48px
			position: absolute
			top: 9px
			height: 30px
			line-height: 30px
			.font-minus
				display: inline-block
				transition: color, 0.2s, easy-in-out
				&:hover
					color: #f4f750
				i 
					font-size: 0.8rem
				.fa-minus
					display: none
					font-size: 0.41rem
					position: relative
					top: -7px
			.font-plus
				&:hover
					color: #f4f750
				display: inline-block
				transition: color, 0.2s, easy
				.fa-font 
					font-size: 1.4rem 
				.fa-plus
					font-size: 0.714rem
					position: relative
					top: -7px
			&:hover
				.font-minus
					padding-right: 10px
					.fa-minus
						display: inline-block
				.font-plus
					padding-left: 10px
					border-left: #929c9f solid 1px
			