aside {
  width: 240px;
  height: -webkit-calc(100% - 48px);
  height: calc(100% - 48px);
  background: #212628;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  clear: both;
  position: fixed;
  right: 0;
  z-index: 2;
}

aside:after {
  content: " ";
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
}

aside .services {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside .services .title {
  display: block;
  height: 60px;
  width: 100%;
  text-transform: uppercase;
  color: #4b5153;
  line-height: 60px;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 40px;
  border-bottom: #2f3335 solid 1px;
}

aside .services .login {
  height: 45px;
  line-height: 50px;
  border-bottom: #2f3335 solid 1px;
  cursor: pointer;
  -webkit-transition: background, 0.2s, easy-in-out;
  transition: background, 0.2s, easy-in-out;
  display: block;
}

aside .services .login a {
  text-decoration: none;
  width: 100%;
  background: url("../img/dashboard-sprites.png") no-repeat;
  background-position: 0px 0px;
  display: inline-block;
  padding-left: 40px;
  color: #dcdf3c;
  -webkit-transition: color, 0.2s, easy-in-out;
  transition: color, 0.2s, easy-in-out;
}

aside .services .login:hover {
  background: #dcdf3c;
}

aside .services .login:hover a {
  background-position: 0px -50px;
  color: black;
}

aside .services .about-bank a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  line-height: 28px;
  font-size: 0.928rem;
  border-left: #b99dc4 solid 6px;
  padding-left: 40px;
  display: block;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(50%, transparent), color-stop(50%, #b99dc4), color-stop(50%, #b99dc4));
  background-image: -webkit-linear-gradient(right, transparent, transparent 50%, #b99dc4 50%, #b99dc4);
  background-image: linear-gradient(to left, transparent, transparent 50%, #b99dc4 50%, #b99dc4);
  background-position: 100% 0;
  background-size: 200% 100%;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

aside .services .about-bank a:hover {
  background-position: 0 0;
}

aside .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 30px;
  font-size: 0.928rem;
  border-bottom: #2f3335 solid 1px;
  display: block;
}

aside .submenu .other-services {
  font-size: 0.857rem;
  font-weight: 60;
  color: #4b5153;
  padding-left: 46px;
}

aside .submenu li a {
  width: 100%;
  text-decoration: none;
  padding-left: 40px;
  display: block;
  border-left: #fbaa69 solid 6px;
  color: white;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(50%, transparent), color-stop(50%, #fbaa69), color-stop(50%, #fbaa69));
  background-image: -webkit-linear-gradient(right, transparent, transparent 50%, #fbaa69 50%, #fbaa69);
  background-image: linear-gradient(to left, transparent, transparent 50%, #fbaa69 50%, #fbaa69);
  background-position: 100% 0;
  background-size: 200% 100%;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

aside .submenu li a:hover {
  background-position: 0 0;
}

aside .submenu li:nth-child(7) {
  border-bottom: #2f3335 solid 1px;
}

aside .submenu li:nth-child(8) {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 45px;
  line-height: 45px;
  border-bottom: #2f3335 solid 1px;
  -webkit-transition: background, 0.2s, easy-in-out;
  transition: background, 0.2s, easy-in-out;
}

aside .submenu li:nth-child(8) a {
  width: 100%;
  text-decoration: none;
  border: none;
  color: #dcdf3c;
  background: url("../img/dashboard-sprites.png") no-repeat;
  background-position: 0px -103px;
  display: inline-block;
  -webkit-transition: color, 0.2s, easy-in-out;
  transition: color, 0.2s, easy-in-out;
}

aside .submenu li:nth-child(8):hover {
  background: #dcdf3c;
  color: black;
}

aside .submenu li:nth-child(8):hover a {
  color: black;
  background-position: 0px -153px;
}

aside .contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 25px;
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 240px;
}

aside .contacts .title-contacts {
  color: #4b5153;
  font-size: 0.857rem;
  font-weight: 600;
  padding-left: 40px;
}

aside .contacts .telephone {
  color: white;
  font-size: 1.571rem;
  font-weight: 600;
  padding-left: 40px;
  background: url("../img/dashboard-sprites.png") no-repeat;
  background-position: 0px -215px;
}

aside .contacts .online-help {
  background: #161a1b;
  height: 50px;
  line-height: 50px;
  font-size: 1.142rem;
  -webkit-transition: background, 0.5s, easy-in-out;
  transition: background, 0.5s, easy-in-out;
}

aside .contacts .online-help a {
  width: 100%;
  text-decoration: none;
  background: url("../img/dashboard-sprites.png") no-repeat;
  background-position: 0px -315px;
  color: white;
  padding-left: 40px;
  -webkit-transition: color, 0.2s, easy-in-out;
  transition: color, 0.2s, easy-in-out;
}

aside .contacts .online-help:hover {
  background: #dcdf3c;
}

aside .contacts .online-help:hover a {
  color: black;
  background-position: 0px -366px;
}

aside .contacts .online-help:active {
  background: #c2c52e;
}
main {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .navigation {
  width: 100%;
  height: 72px;
}

main .navigation .menu {
  width: 1000px;
  right: -240px;
}

main .navigation .menu ul {
  list-style: none;
  display: block;
  text-align: right;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .navigation .menu ul li {
  display: inline-block;
  width: 100px;
  height: 50px;
}

main .navigation .menu ul li ul div {
  display: none;
}

main .main-slider {
  height: 529px;
  position: relative;
}

main .main-slider .slider-1 .slider,
main .main-slider .slider-2 .slider,
main .main-slider .slider-3 .slider,
main .main-slider .slider-4 .slider {
  background: #7196da;
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .main-slider .slider-1 .slider img,
main .main-slider .slider-2 .slider img,
main .main-slider .slider-3 .slider img,
main .main-slider .slider-4 .slider img {
  position: absolute;
  top: -52px;
  left: 40px;
  width: 209px;
  height: 104px;
}

main .main-slider .slider-1 .slider h2,
main .main-slider .slider-2 .slider h2,
main .main-slider .slider-3 .slider h2,
main .main-slider .slider-4 .slider h2 {
  font-size: 5.285rem;
  color: #fff;
  padding-top: 80px;
  font-weight: 600;
  margin: 0;
  padding-left: 60px;
}

main .main-slider .slider-1 .slider p,
main .main-slider .slider-2 .slider p,
main .main-slider .slider-3 .slider p,
main .main-slider .slider-4 .slider p {
  font-size: 1rem;
  color: #fff;
  padding-top: 40px;
  font-weight: 600;
  padding-bottom: 100px;
  padding-left: 60px;
  margin: 0;
  line-height: 26px;
}

main .main-slider .slider-1 .slider p span:first-child,
main .main-slider .slider-2 .slider p span:first-child,
main .main-slider .slider-3 .slider p span:first-child,
main .main-slider .slider-4 .slider p span:first-child {
  font-size: 1.571rem;
}

main .main-slider .slider-1 .slider p span:first-child i,
main .main-slider .slider-2 .slider p span:first-child i,
main .main-slider .slider-3 .slider p span:first-child i,
main .main-slider .slider-4 .slider p span:first-child i {
  padding-left: 30px;
}

main .main-slider .slider-1 .slider p span:last-child,
main .main-slider .slider-2 .slider p span:last-child,
main .main-slider .slider-3 .slider p span:last-child,
main .main-slider .slider-4 .slider p span:last-child {
  font-size: 1.571rem;
}

main .main-slider .slider-1 .slider p .other-color,
main .main-slider .slider-2 .slider p .other-color,
main .main-slider .slider-3 .slider p .other-color,
main .main-slider .slider-4 .slider p .other-color {
  color: #465f8c;
}

main .main-slider .slider-1 .slider p .other-size,
main .main-slider .slider-2 .slider p .other-size,
main .main-slider .slider-3 .slider p .other-size,
main .main-slider .slider-4 .slider p .other-size {
  color: #b8c8eb;
  font-size: 0.785rem;
}

main .main-slider .additional-info {
  width: 354px;
  height: 112px;
  position: absolute;
  bottom: -20px;
  right: 280px;
  background: #dcdf3c;
  font-size: 1.142rem;
  font-weight: 500;
}

main .main-slider .additional-info p {
  margin: 0;
  padding-left: 25px;
  padding-top: 20px;
  line-height: 25px;
}

main .table {
  height: 450px;
  width: -webkit-calc(100% - 360px);
  width: calc(100% - 360px);
}

main .table table {
  padding-left: 60px;
  width: 875px;
}

main .table table caption {
  text-align: left;
  padding-left: 60px;
  padding-top: 50px;
}

main .table table caption h2 {
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  display: inline-block;
  padding-right: 22px;
}

main .table table caption select {
  display: inline-block;
  width: 136px;
  height: 36px;
  border: 2px solid #7196da;
  background: transparent;
}

main .table table caption select option i {
  color: black;
}

main .table table caption span {
  display: block;
  font-size: 0.714rem;
}

main .table table tr {
  padding-bottom: 20px;
  height: 40px;
}

main .table table tr th {
  color: #bdbdbd;
  font-size: 0.714rem;
  padding-bottom: 20px;
}

main .table table tr td {
  text-align: center;
}

main .table table tr td:first-child {
  text-align: left;
}

main .table button {
  width: 320px;
  height: 48px;
  margin-top: 40px;
  text-indent: 30px;
  margin-left: 60px;
  border: 2px solid #7196da;
  background: transparent;
}

main .loyalty-program {
  padding-left: 60px;
  padding-top: 88px;
  padding-bottom: 100px;
}

main .loyalty-program h2 {
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
}

main .loyalty-program p {
  padding-top: 33px;
  font-size: 1rem;
  max-width: 434px;
  margin: 0;
  line-height: 23px;
}

main .loyalty-program p span {
  text-transform: uppercase;
}

main .loyalty-program ul {
  list-style: none;
  font-size: 1rem;
  margin: 0;
  padding-left: 0px;
  padding-top: 25px;
  line-height: 23px;
}

main .loyalty-program ul i {
  padding-right: 10px;
}

main .info {
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  height: 489px;
}

main .info .info-deposit {
  width: 50%;
  padding-left: 60px;
  background: #7196da;
  float: left;
  display: inline-block;
}

main .info .info-deposit h2 {
  font-weight: 600;
  font-size: 2rem;
  color: white;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 50px;
}

main .info .info-deposit p {
  font-size: 1rem;
  max-width: 510px;
  margin: 0;
  line-height: 23px;
  color: white;
  padding-bottom: 114px;
}

main .info .info-deposit p i {
  padding-right: 10px;
}

main .info .info-deposit p span {
  font-size: 1.5rem;
  font-weight: 600;
}

main .info .map {
  width: 40%;
  background: #eee;
  float: left;
  display: inline-block;
  height: 488px;
}

main .useful-info {
  padding-left: 60px;
  padding-top: 88px;
  padding-bottom: 60px;
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  height: 474px;
}

main .useful-info h2 {
  padding-left: 0;
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 30px;
}

main .useful-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 15px;
}

main .useful-info p {
  font-size: 1rem;
  max-width: 434px;
  margin: 0;
  line-height: 23px;
  padding-bottom: 30px;
}

main .useful-info p span {
  text-transform: uppercase;
}

main .useful-info ul {
  list-style: none;
  font-size: 1rem;
  margin: 0;
  padding-left: 0px;
  line-height: 23px;
  padding-bottom: 30px;
}

main .useful-info ul i {
  padding-right: 10px;
}

main .application {
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  height: 680px;
  background: #f8f8e7;
  border: 1px solid #ebeb88;
}

main .application div {
  width: 550px;
  margin: auto;
  margin-top: 60px;
  font-size: 0;
}

main .application div h2 {
  padding-left: 0;
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 30px;
}

main .application div button {
  height: 44px;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  border: 2px solid #dcdf3c;
  background: white;
  margin-bottom: 43px;
}

main .application div button:first-child {
  width: 150px;
}

main .application div button:last-child {
  width: 200px;
}

main .application div .checked {
  background: #dcdf3c;
}

main .application div p {
  padding-bottom: 40px;
  font-size: 1rem;
  max-width: 540px;
  margin: 0;
  line-height: 23px;
}

main .application div select,
main .application div input {
  width: 540px;
  height: 48px;
  text-indent: 10px;
  display: block;
  padding: 0;
  margin-bottom: 20px;
  background: transparent;
  border: 2px solid #c6c6b9;
  font-size: 1rem;
  font-weight: 600;
}

main .application div input::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

main .application div input[type="submit"] {
  border: 2px solid #dcdf3c;
  background: white;
}

main .master-card {
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  height: 300px;
  background: #5bdcaa;
  padding-left: 60px;
  padding-top: 50px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  position: relative;
}

main .master-card h2 {
  padding-left: 0;
  margin: 0;
  font-weight: 600;
  font-size: 2.7rem;
  padding-bottom: 30px;
}

main .master-card p {
  padding-bottom: 70px;
  margin: 0;
}

main .master-card .logo-master-card {
  width: 153px;
  position: absolute;
  bottom: 15px;
}

main .master-card .picture-1 {
  width: 250px;
  right: 90px;
  position: absolute;
  bottom: 0px;
}

main .credit-program {
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  height: 300px;
  background: #ebb641;
  padding-left: 60px;
  padding-top: 40px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  margin-bottom: 20px;
  position: relative;
}

main .credit-program h2 {
  padding-left: 0;
  margin: 0;
  font-weight: 600;
  font-size: 2.7em;
  padding-bottom: 30px;
}

main .credit-program p {
  padding-bottom: 70px;
  margin: 0;
  line-height: 23px;
}

main .credit-program img {
  width: 250px;
  right: 75px;
  position: absolute;
  bottom: 0px;
}

footer {
  width: 100%;
  background: #212628;
  clear: both;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

footer .wrapper-footer {
  min-width: 830px;
  margin: 0 auto;
  padding-top: 55px;
  height: 252px;
  margin-left: 60px;
}

footer .wrapper-footer .helpful-link {
  width: 350px;
  float: left;
}

footer .wrapper-footer .helpful-link .title-helpful-link {
  font-size: 0.857rem;
  font-weight: 600;
  color: #4b5153;
  padding-bottom: 20px;
}

footer .wrapper-footer .helpful-link .different-services span {
  display: block;
  color: #fff;
  line-height: 28px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: color, 1s, easy-in-out;
  transition: color, 1s, easy-in-out;
}

footer .wrapper-footer .helpful-link .different-services span:hover {
  color: #dcdf3c;
}

footer .wrapper-footer .helpful-link .mark {
  font-size: 0.714rem;
  font-weight: 600;
  color: #4b5153;
  display: block;
  padding-top: 50px;
}

footer .wrapper-footer .helpful-link .license {
  font-size: 0.785rem;
  font-weight: 400;
  color: #4b5153;
  display: block;
  padding-top: 5px;
}

footer .wrapper-footer .info-contact {
  width: 240px;
  float: left;
}

footer .wrapper-footer .info-contact span {
  display: block;
}

footer .wrapper-footer .info-contact span:first-child {
  font-size: 0.857rem;
  font-weight: 600;
  color: #4b5153;
}

footer .wrapper-footer .info-contact span:nth-child(2n) {
  color: white;
  font-size: 1.285rem;
  font-weight: 600;
  margin-top: 20px;
}

footer .wrapper-footer .info-contact span:nth-child(3) {
  font-size: 0.928rem;
  font-weight: 400;
  color: #4b5153;
}

footer .wrapper-footer .footer-link {
  width: 220px;
  float: left;
}

footer .wrapper-footer .footer-link span {
  font-size: 0.857rem;
  font-weight: 600;
  color: #4b5153;
  display: block;
}

footer .wrapper-footer .footer-link i {
  display: inline-block;
  font-size: 1.5rem;
  color: #ebebeb;
  padding-right: 10px;
  padding-top: 15px;
  cursor: pointer;
  -webkit-transition: color, 1s, easy-in-out;
  transition: color, 1s, easy-in-out;
}

footer .wrapper-footer .footer-link i:hover {
  color: #dcdf3c;
}
html {
  font-size: 14px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  height: 48px;
  background: #161a1b;
  font-family: 'Roboto', sans-serif;
}

header .other-type {
  width: 480px;
  height: 48px;
  margin-left: 30px;
  float: left;
  line-height: 48px;
  font-weight: 500;
}

header .other-type span {
  color: #71797c;
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 0.929rem;
  cursor: pointer;
  -webkit-transition: color,1s, easy-in-out;
  transition: color,1s, easy-in-out;
}

header .other-type span:hover,
header .other-type span:active {
  color: #f4f750;
}

header .setting {
  font-family: 'PT Sans', sans-serif;
}

header .setting .search-service {
  width: 240px;
  height: 100%;
  padding-left: 10px;
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  background: #161a1b;
  line-height: 48px;
}

header .setting .search-service i {
  color: #dcdf3c;
  margin-right: 13px;
}

header .setting .search-service input {
  background: transparent;
  color: #717779;
  border: none;
  font-size: 0.929rem;
}

header .setting .search-service input:focus {
  outline: none;
}

header .setting .search-service input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

header .setting .change-lang {
  right: 240px;
  position: absolute;
}

header .setting .change-lang .en,
header .setting .change-lang .ru {
  display: none;
}

header .setting .change-lang span {
  display: block;
  width: 110px;
  height: 48px;
  line-height: 43px;
  background: transparent;
  color: #71797c;
  font-weight: 600;
  font-size: 1.2rem;
  height: 48px;
  text-indent: 14px;
}

header .setting .change-lang span:hover {
  background: #dddf3c;
  color: black;
}

header .setting .change-lang span:hover .en,
header .setting .change-lang span:hover .ru {
  display: block;
  z-index: 2;
}

header .setting .size-allfont {
  color: #929c9f;
  cursor: pointer;
  right: 360px;
  height: 48px;
  position: absolute;
  top: 9px;
  height: 30px;
  line-height: 30px;
}

header .setting .size-allfont .font-minus {
  display: inline-block;
  -webkit-transition: color, 0.5s, easy-in-out;
  transition: color, 0.5s, easy-in-out;
}

header .setting .size-allfont .font-minus:hover {
  color: #f4f750;
}

header .setting .size-allfont .font-minus i {
  font-size: 0.8rem;
}

header .setting .size-allfont .font-minus .fa-minus {
  display: none;
  font-size: 0.41rem;
  position: relative;
  top: -7px;
}

header .setting .size-allfont .font-plus {
  display: inline-block;
  -webkit-transition: color, 1s, easy;
  transition: color, 1s, easy;
}

header .setting .size-allfont .font-plus:hover {
  color: #f4f750;
}

header .setting .size-allfont .font-plus .fa-font {
  font-size: 1.4rem;
}

header .setting .size-allfont .font-plus .fa-plus {
  font-size: 0.714rem;
  position: relative;
  top: -7px;
}

header .setting .size-allfont:hover .font-minus {
  padding-right: 10px;
}

header .setting .size-allfont:hover .font-minus .fa-minus {
  display: inline-block;
}

header .setting .size-allfont:hover .font-plus {
  padding-left: 10px;
  border-left: #929c9f solid 1px;
}
