aside {
  width: 240px;
  height: 100%;
  background: #212628;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  clear: both;
  position: fixed;
  right: 0;
  z-index: 3;
}

aside:after {
  content: " ";
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
}

aside .services {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside .services .search-service {
  width: 240px;
  height: 48px;
  padding-left: 20px;
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  background: #161a1b;
  line-height: 48px;
}

aside .services .search-service i {
  color: #dcdf3c;
  margin-right: 13px;
}

aside .services .search-service input {
  background: transparent;
  color: #717779;
  border: none;
  font-size: 0.929rem;
}

aside .services .search-service input:focus {
  outline: none;
}

aside .services .search-service input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

aside .services .title {
  display: block;
  height: 60px;
  width: 100%;
  text-transform: uppercase;
  color: #4b5153;
  line-height: 60px;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 50px;
  border-bottom: #2f3335 solid 1px;
}

aside .services .login {
  height: 45px;
  line-height: 50px;
  border-bottom: #2f3335 solid 1px;
  cursor: pointer;
  -webkit-transition: background, 0.2s, easy-in-out;
  transition: background, 0.2s, easy-in-out;
  display: block;
}

aside .services .login a {
  text-decoration: none;
  width: 100%;
  background: url("../img/dashboard-sprites.png") no-repeat;
  background-position: 0px 0px;
  display: inline-block;
  padding-left: 50px;
  color: #dcdf3c;
  -webkit-transition: color, 0.2s, easy-in-out;
  transition: color, 0.2s, easy-in-out;
}

aside .services .login:hover {
  background: #dcdf3c;
}

aside .services .login:hover a {
  background-position: 0px -50px;
  color: black;
}

aside .services .about-bank a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  line-height: 28px;
  font-size: 0.928rem;
  border-left: #b99dc4 solid 6px;
  padding-left: 50px;
  display: block;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(50%, transparent), color-stop(50%, #b99dc4), color-stop(50%, #b99dc4));
  background-image: -webkit-linear-gradient(right, transparent, transparent 50%, #b99dc4 50%, #b99dc4);
  background-image: linear-gradient(to left, transparent, transparent 50%, #b99dc4 50%, #b99dc4);
  background-position: 100% 0;
  background-size: 200% 100%;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

aside .services .about-bank a:hover {
  background-position: 0 0;
}

aside .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 30px;
  font-size: 0.928rem;
  border-bottom: #2f3335 solid 1px;
  display: block;
}

aside .submenu .other-services {
  font-size: 0.857rem;
  font-weight: 60;
  color: #4b5153;
  padding-left: 46px;
}

aside .submenu li a {
  width: 100%;
  text-decoration: none;
  padding-left: 50px;
  display: block;
  border-left: #fbaa69 solid 6px;
  color: white;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(50%, transparent), color-stop(50%, #fbaa69), color-stop(50%, #fbaa69));
  background-image: -webkit-linear-gradient(right, transparent, transparent 50%, #fbaa69 50%, #fbaa69);
  background-image: linear-gradient(to left, transparent, transparent 50%, #fbaa69 50%, #fbaa69);
  background-position: 100% 0;
  background-size: 200% 100%;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

aside .submenu li a:hover {
  background-position: 0 0;
}

aside .submenu li:nth-child(7) {
  border-bottom: #2f3335 solid 1px;
}

aside .submenu li:nth-child(8) {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 45px;
  line-height: 45px;
  border-bottom: #2f3335 solid 1px;
  -webkit-transition: background, 0.2s, easy-in-out;
  transition: background, 0.2s, easy-in-out;
}

aside .submenu li:nth-child(8) a {
  width: 100%;
  text-decoration: none;
  border: none;
  color: #dcdf3c;
  background: url("../img/dashboard-sprites.png") no-repeat;
  background-position: 0px -103px;
  display: inline-block;
  -webkit-transition: color, 0.2s, easy-in-out;
  transition: color, 0.2s, easy-in-out;
}

aside .submenu li:nth-child(8):hover {
  background: #dcdf3c;
  color: black;
}

aside .submenu li:nth-child(8):hover a {
  color: black;
  background-position: 0px -153px;
}

aside .contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 25px;
  height: 110px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 240px;
}

aside .contacts .title-contacts {
  color: #4b5153;
  font-size: 0.857rem;
  font-weight: 600;
  padding-left: 50px;
  padding-bottom: 10px;
}

aside .contacts .telephone {
  color: white;
  font-size: 1.571rem;
  font-weight: 600;
  padding-left: 50px;
  background: url("../img/dashboard-sprites.png") no-repeat;
  background-position: 0px -215px;
}

aside .contacts .online-help {
  background: #161a1b;
  height: 50px;
  line-height: 50px;
  font-size: 1.142rem;
  -webkit-transition: background, 0.5s, easy-in-out;
  transition: background, 0.5s, easy-in-out;
  width: 100%;
}

aside .contacts .online-help a {
  width: 100%;
  text-decoration: none;
  background: url("../img/dashboard-sprites.png") no-repeat;
  background-position: 0px -315px;
  color: white;
  padding-left: 50px;
  -webkit-transition: color, 0.2s, easy-in-out;
  transition: color, 0.2s, easy-in-out;
}

aside .contacts .online-help:hover {
  background: #dcdf3c;
}

aside .contacts .online-help:hover a {
  color: black;
  background-position: 0px -366px;
}

aside .contacts .online-help:active {
  background: #c2c52e;
}
main {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .navigation {
  width: 100%;
  position: relative;
  z-index: 1;
}

main .navigation .menu {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 1000px;
  right: -240px;
}

main .navigation .menu ul {
  list-style: none;
  display: block;
  text-align: right;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .navigation .menu ul .inner-wrapper {
  display: inline-block;
  position: relative;
}

main .navigation .menu ul li {
  display: inline-block;
  width: 100px;
  height: 36px;
  line-height: 36px;
  -webkit-transition: background .3s;
  transition: background .3s;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .88rem;
  letter-spacing: 1px;
  vertical-align: middle;
}

main .navigation .menu ul li .menu__popup {
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: rotateX(-87deg);
          transform: rotateX(-87deg);
  overflow: hidden;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 36px;
  background: #dcdf3c;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s, -webkit-transform 0.3s;
  transition: visibility 0s linear 0.3s, -webkit-transform 0.3s;
  transition: visibility 0s linear 0.3s, transform 0.3s;
  transition: visibility 0s linear 0.3s, transform 0.3s, -webkit-transform 0.3s;
  z-index: 2;
}

main .navigation .menu ul li:hover {
  background: #dcdf3c;
}

main .navigation .menu ul li:hover .menu__popup {
  visibility: visible;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transition: visibility 0s linear 0s,  -webkit-transform 0.3s;
  transition: visibility 0s linear 0s,  -webkit-transform 0.3s;
  transition: visibility 0s linear 0s,  transform 0.3s;
  transition: visibility 0s linear 0s,  transform 0.3s,  -webkit-transform 0.3s;
  z-index: 3;
}

main .navigation .menu ul li a {
  text-decoration: none;
  color: #000;
}

main .slider {
  position: relative;
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
}

main .slider .site-logo {
  position: absolute;
  top: -52px;
  left: 40px;
  width: 209px;
  height: 104px;
  z-index: 2;
}

main .slider .additional-info {
  width: 354px;
  height: 112px;
  position: absolute;
  bottom: -20px;
  right: 20px;
  background: #dcdf3c;
  font-size: 1.142rem;
  font-weight: 500;
  z-index: 2;
}

main .slider .additional-info p {
  margin: 0;
  padding-left: 25px;
  padding-top: 20px;
  line-height: 25px;
}

main .slider .main-slider .proposal-1 {
  background: #7196da;
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 550px;
}

main .slider .main-slider .proposal-1 h2 {
  font-size: 5.285rem;
  color: #fff;
  padding-top: 80px;
  font-weight: 600;
  margin: 0;
  padding-left: 60px;
}

main .slider .main-slider .proposal-1 p {
  font-size: 1rem;
  color: #fff;
  padding-top: 40px;
  font-weight: 600;
  padding-bottom: 100px;
  padding-left: 60px;
  margin: 0;
  line-height: 26px;
}

main .slider .main-slider .proposal-1 p span:first-child {
  font-size: 1.571rem;
}

main .slider .main-slider .proposal-1 p span:first-child i {
  padding-left: 30px;
}

main .slider .main-slider .proposal-1 p span:last-child {
  font-size: 1.571rem;
}

main .slider .main-slider .proposal-1 p .other-color {
  color: #465f8c;
}

main .slider .main-slider .proposal-1 p .other-size {
  color: #b8c8eb;
  font-size: 0.785rem;
}

main .slider .main-slider .proposal-2 {
  background: #fa323c;
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 550px;
}

main .slider .main-slider .proposal-2 h2 {
  font-size: 5.285rem;
  color: #fff;
  padding-top: 80px;
  font-weight: 600;
  margin: 0;
  padding-left: 60px;
}

main .slider .main-slider .proposal-2 .kartka {
  width: 500px;
  position: absolute;
  right: 60px;
  bottom: 0;
}

main .slider .main-slider .proposal-3 {
  background: #00a27d;
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 550px;
}

main .slider .main-slider .proposal-3 h2 {
  font-size: 5.285rem;
  color: #fff;
  padding-top: 80px;
  font-weight: 600;
  margin: 0;
  padding-left: 60px;
}

main .table {
  height: 450px;
  width: -webkit-calc(100% - 300px);
  width: calc(100% - 300px);
}

main .table .wrap-caption {
  text-align: left;
  padding-left: 60px;
  padding-top: 50px;
}

main .table .wrap-caption h2 {
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  display: inline-block;
  padding-right: 22px;
}

main .table .wrap-caption select {
  display: inline-block;
  width: 136px;
  height: 36px;
  border: 2px solid #7196da;
  background: transparent;
}

main .table .wrap-caption select option i {
  color: black;
}

main .table .wrap-caption span {
  display: block;
  font-size: 0.714rem;
}

main .table table {
  padding-left: 60px;
  width: 90%;
}

main .table table tr {
  padding-bottom: 20px;
  height: 40px;
}

main .table table tr th {
  color: #bdbdbd;
  font-size: 0.714rem;
  padding-bottom: 20px;
}

main .table table tr td {
  text-align: center;
}

main .table table tr td:first-child {
  text-align: left;
}

main .table button {
  width: 320px;
  height: 48px;
  margin-top: 40px;
  margin-left: 60px;
  border: 2px solid #7196da;
  background: transparent;
  outline: none;
  -webkit-transition: background, 1s, easy;
  transition: background, 1s, easy;
}

main .table button:hover {
  background: #7196da;
}

main .table button:active {
  background: #557dc8;
}

main .loyalty-program {
  padding-left: 60px;
  padding-top: 88px;
  padding-bottom: 100px;
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .loyalty-program h2 {
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
}

main .loyalty-program p {
  padding-top: 33px;
  font-size: 1rem;
  max-width: 434px;
  margin: 0;
  line-height: 23px;
}

main .loyalty-program p span {
  text-transform: uppercase;
}

main .loyalty-program ul {
  list-style: none;
  font-size: 1rem;
  margin: 0;
  padding-left: 0px;
  padding-top: 25px;
  line-height: 23px;
}

main .loyalty-program ul i {
  padding-right: 10px;
}

main .info {
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  height: 489px;
  overflow: hidden;
}

main .info .info-deposit {
  width: 62%;
  padding-left: 60px;
  background: #7196da;
  float: left;
  display: inline-block;
  height: 100%;
}

main .info .info-deposit h2 {
  font-weight: 600;
  font-size: 2rem;
  color: white;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 50px;
}

main .info .info-deposit p {
  font-size: 1rem;
  max-width: 510px;
  margin: 0;
  line-height: 23px;
  color: white;
  padding-bottom: 114px;
}

main .info .info-deposit p i {
  padding-right: 10px;
}

main .info .info-deposit p span {
  font-size: 1.5rem;
  font-weight: 600;
}

main .info .map {
  width: 32%;
  background: #eee;
  float: left;
  display: inline-block;
  height: 100%;
}

main .useful-info {
  padding-left: 60px;
  padding-top: 88px;
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  height: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .useful-info h2 {
  padding-left: 0;
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 30px;
}

main .useful-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 15px;
}

main .useful-info p {
  font-size: 1rem;
  max-width: 434px;
  margin: 0;
  line-height: 23px;
  padding-bottom: 30px;
}

main .useful-info p span {
  text-transform: uppercase;
}

main .useful-info ul {
  list-style: none;
  font-size: 1rem;
  margin: 0;
  padding-left: 0px;
  line-height: 23px;
  padding-bottom: 30px;
}

main .useful-info ul i {
  padding-right: 10px;
}

main .application {
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  height: 680px;
  background: #f8f8e7;
  border: 1px solid #ebeb88;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .application div {
  width: 550px;
  margin: auto;
  margin-top: 60px;
  font-size: 0;
}

main .application div h2 {
  padding-left: 0;
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 30px;
}

main .application div button {
  height: 44px;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  border: 2px solid #dcdf3c;
  background: white;
  margin-bottom: 43px;
  font-weight: 500;
  outline: none;
}

main .application div button:nth-child(3) {
  width: 200px;
}

main .application div .checked {
  background: #dcdf3c;
  width: 122px;
}

main .application div p {
  padding-bottom: 40px;
  font-size: 1rem;
  max-width: 540px;
  margin: 0;
  line-height: 23px;
}

main .application div select,
main .application div input {
  width: 540px;
  height: 48px;
  text-indent: 10px;
  display: block;
  padding: 0;
  margin-bottom: 20px;
  background: transparent;
  border: 2px solid #c6c6b9;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
}

main .application div select {
  width: 544px;
}

main .application div input::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

main .application div input[type="submit"] {
  border: 2px solid #dcdf3c;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 544px;
  -webkit-transition: background, 1s, easy;
  transition: background, 1s, easy;
  outline: none;
}

main .application div input[type="submit"]:hover {
  background: #dcdf3c;
}

main .application div input[type="submit"]:active {
  background: #a8aa2a;
}

main .master-card {
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  height: 300px;
  background: #5bdcaa;
  padding-left: 60px;
  padding-top: 50px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  position: relative;
}

main .master-card h2 {
  padding-left: 0;
  margin: 0;
  font-weight: 600;
  font-size: 2.7rem;
  padding-bottom: 30px;
}

main .master-card p {
  padding-bottom: 70px;
  margin: 0;
}

main .master-card .logo-master-card {
  width: 153px;
  position: absolute;
  bottom: 15px;
}

main .master-card .picture-1 {
  width: 250px;
  right: 90px;
  position: absolute;
  bottom: 0px;
}

main .credit-program {
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
  height: 300px;
  background: #ebb641;
  padding-left: 60px;
  padding-top: 40px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  margin-bottom: 20px;
  position: relative;
}

main .credit-program h2 {
  padding-left: 0;
  margin: 0;
  font-weight: 600;
  font-size: 2.7em;
  padding-bottom: 30px;
}

main .credit-program p {
  padding-bottom: 70px;
  margin: 0;
  line-height: 23px;
}

main .credit-program img {
  width: 250px;
  right: 75px;
  position: absolute;
  bottom: 0px;
}

.success {
  border: 1px solid #7CFC00 !important;
}

.error {
  border: 1px solid red !important;
}

em.error {
  color: #f45336;
  border: none !important;
  float: right;
  font-size: 1rem;
  display: inline-block;
  top: -20px;
  right: 10px;
  position: relative;
}

.search {
  text-align: left !important;
}

.search input {
  display: block !important;
}

.search li {
  height: auto !important;
  width: 33% !important;
}

.search ul {
  display: inline-block !important;
  text-align: left !important;
  border: 1px solid;
  float: left;
}

.search ul li {
  height: auto !important;
  text-align: left !important;
}

footer {
  width: 100%;
  background: #212628;
  clear: both;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

footer .wrapper-footer {
  min-width: 830px;
  margin: 0 auto;
  padding-top: 55px;
  height: 252px;
  display: inline-block;
}

footer .wrapper-footer .helpful-link {
  display: inline-block;
  width: 24%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 60px;
}

footer .wrapper-footer .helpful-link .title-helpful-link {
  font-size: 0.857rem;
  font-weight: 600;
  color: #4b5153;
}

footer .wrapper-footer .helpful-link .different-services {
  display: block;
  color: #fff;
  line-height: 28px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: color, 1s, easy-in-out;
  transition: color, 1s, easy-in-out;
}

footer .wrapper-footer .helpful-link .different-services:hover {
  color: #dcdf3c;
}

footer .wrapper-footer .info-contact {
  display: inline-block;
  width: 20%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 60px;
}

footer .wrapper-footer .info-contact li {
  display: block;
}

footer .wrapper-footer .info-contact li:first-child {
  font-size: 0.857rem;
  font-weight: 600;
  color: #4b5153;
}

footer .wrapper-footer .info-contact li:nth-child(4) {
  font-size: 0.928rem;
  font-weight: 400;
  color: #4b5153;
  line-height: 18px;
}

footer .wrapper-footer .info-contact .ph {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'PT Sans', sans-serif;
}

footer .wrapper-footer .footer-link {
  display: inline-block;
  width: 25%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 60px;
}

footer .wrapper-footer .footer-link li {
  font-size: 0.857rem;
  font-weight: 600;
  color: #4b5153;
  display: inline-block;
}

footer .wrapper-footer .footer-link li img {
  width: 28px;
  height: 28px;
  background: white;
  margin-right: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), color-stop(50%, #dcdf3c), color-stop(50%, #dcdf3c));
  background-image: -webkit-linear-gradient(top, transparent, transparent 50%, #dcdf3c 50%, #dcdf3c);
  background-image: linear-gradient(to bottom, transparent, transparent 50%, #dcdf3c 50%, #dcdf3c);
  ransition: all .25s ease-in;
  background-position-y: 56px;
  background-size: 56px;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

footer .wrapper-footer .footer-link li img:hover {
  background-position-y: 28px;
}

footer .wrapper-footer .label {
  display: block;
  width: 100%;
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  line-height: 11px;
}

footer .wrapper-footer .label .mark {
  font-size: 0.8rem;
  font-weight: 600;
  color: #4b5153;
}

footer .wrapper-footer .label .license {
  font-size: 0.8rem;
  font-weight: 400;
  color: #4b5153;
}
html {
  font-size: 14px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  height: 48px;
  background: #161a1b;
  font-family: 'Roboto', sans-serif;
}

header .wrap-access-type {
  width: 180px;
  height: 48px;
}

header .wrap-access-type input {
  width: 150px;
  height: 48px;
  display: none;
  background: transparent;
  border: none;
  margin-left: 20px;
  color: #71797c;
}

header .wrap-access-type .access-type {
  width: 480px;
  height: 48px;
  margin-left: 30px;
  float: left;
  line-height: 48px;
  font-weight: 500;
}

header .wrap-access-type .access-type span {
  color: #71797c;
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 0.929rem;
  cursor: pointer;
  -webkit-transition: color,1s, easy-in-out;
  transition: color,1s, easy-in-out;
}

header .wrap-access-type .access-type span:hover,
header .wrap-access-type .access-type span:active {
  color: #f4f750;
}

header .setting {
  font-family: 'PT Sans', sans-serif;
}

header .setting .change-lang {
  right: 240px;
  position: absolute;
}

header .setting .change-lang .en,
header .setting .change-lang .ru {
  display: none;
}

header .setting .change-lang span {
  display: block;
  width: 110px;
  height: 48px;
  line-height: 43px;
  background: transparent;
  color: #71797c;
  font-weight: 600;
  font-size: 1.2rem;
  height: 48px;
  text-indent: 14px;
}

header .setting .change-lang span:hover {
  background: #dddf3c;
  color: black;
}

header .setting .change-lang span:hover .en,
header .setting .change-lang span:hover .ru {
  display: block;
  z-index: 2;
}

header .setting .size-allfont {
  color: #929c9f;
  cursor: pointer;
  right: 360px;
  height: 48px;
  position: absolute;
  top: 9px;
  height: 30px;
  line-height: 30px;
}

header .setting .size-allfont .font-minus {
  display: inline-block;
  -webkit-transition: color, 0.5s, easy-in-out;
  transition: color, 0.5s, easy-in-out;
}

header .setting .size-allfont .font-minus:hover {
  color: #f4f750;
}

header .setting .size-allfont .font-minus i {
  font-size: 0.8rem;
}

header .setting .size-allfont .font-minus .fa-minus {
  display: none;
  font-size: 0.41rem;
  position: relative;
  top: -7px;
}

header .setting .size-allfont .font-plus {
  display: inline-block;
  -webkit-transition: color, 0.5s, easy;
  transition: color, 0.5s, easy;
}

header .setting .size-allfont .font-plus:hover {
  color: #f4f750;
}

header .setting .size-allfont .font-plus .fa-font {
  font-size: 1.4rem;
}

header .setting .size-allfont .font-plus .fa-plus {
  font-size: 0.714rem;
  position: relative;
  top: -7px;
}

header .setting .size-allfont:hover .font-minus {
  padding-right: 10px;
}

header .setting .size-allfont:hover .font-minus .fa-minus {
  display: inline-block;
}

header .setting .size-allfont:hover .font-plus {
  padding-left: 10px;
  border-left: #929c9f solid 1px;
}
@media only screen and (max-width: 1024px) {
  header .setting .change-lang {
    right: 60px;
  }

  header .setting .size-allfont {
    right: 180px;
  }

  aside {
    right: -192px;
    -webkit-transition: right, 1s, easy;
    transition: right, 1s, easy;
  }

  aside:hover {
    right: 0;
  }

  aside:hover .services .search-service,
  aside:hover .contacts {
    right: 0;
  }

  aside .services .search-service {
    right: -192px;
    -webkit-transition: right, 1s, easy;
    transition: right, 1s, easy;
  }

  aside .services .search-service:hover {
    right: 0;
  }

  aside .services .search-service:hover .contacts,
  aside .services .search-service:hover aside {
    right: 0;
  }

  aside .contacts {
    right: -192px;
    -webkit-transition: right, 1s, easy;
    transition: right, 1s, easy;
  }

  aside .contacts:hover {
    right: 0;
  }

  aside .contacts:hover .services .search-service,
  aside .contacts:hover aside {
    right: 0;
  }

  main .navigation .menu {
    width: 80%;
  }

  main .slider,
  main .table,
  main .loyalty-program,
  main .useful-info,
  main .application,
  main .master-card,
  main .credit-program {
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
  }

  main .info {
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
  }

  main .info .map {
    width: 30%;
  }

  main .useful-info {
    height: 560px;
  }

  main .useful-info p {
    max-width: 585px;
  }
}

@media only screen and (max-width: 1000px) {
  header .wrap-access-type #input-access-type {
    display: block;
  }

  header .wrap-access-type .access-type span {
    width: 238px;
    height: 48px;
    color: #dddf3c;
    font-size: 1.2rem;
    display: block;
  }

  main .credit-program p {
    max-width: 330px;
  }

  main .master-card h2 {
    max-width: 200px;
  }

  main .master-card p {
    max-width: 300px;
  }

  main .master-card .logo-master-card {
    display: none;
  }

  footer .wrapper-footer {
    min-width: 0px;
  }

  footer .wrapper-footer .footer-link {
    width: 38%;
    margin-left: 20px;
  }

  footer .wrapper-footer .info-contact {
    width: 24%;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 860px) {
  main .slider .additional-info {
    display: none;
  }

  main .slider .main-slider .proposal-2 .kartka {
    width: 400px;
  }

  main .info {
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
  }

  main .info .info-deposit {
    width: 100%;
  }

  main .info .map {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  main .slider .main-slider .proposal-1 h2,
  main .slider .main-slider .proposal-2 h2,
  main .slider .main-slider .proposal-3 h2 {
    font-size: 4rem;
  }

  main .useful-info {
    height: 600px;
  }

  footer .wrapper-footer .helpful-link {
    width: 80%;
  }

  footer .wrapper-footer .info-contact,
  footer .wrapper-footer .footer-link {
    width: 80%;
    margin-left: 60px;
    padding-bottom: 30px;
  }
}
